/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
$c-primary: #E9EFC0;
$c-secondary: #4E944F;
$c-lightgreen: #B4E197;

$font-main: 'Playfair Display', serif;
$font-secondary: 'Poppins', sans-serif;

/* Fonts */
h1,h2,h3,h4,h5,h6 {

    font-family: $font-main;
}

p,li,a {

    font-family: $font-secondary;
}



body {

    background-color: $c-primary;
    overflow-x: hidden;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

/* Navbar */
.navbar {

    background-color: $c-secondary;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

/* Header */
.main-header {

    background-color: $c-lightgreen;
    height: 100vh;
    z-index: -2;
}

.main-header__content {

    margin-top: 200px;

    p {

        max-width: 500px;
    }
}

.phone-bird {

    transform: rotate(15.79deg);
}

.phone-bird-container {

    position: relative;
    top: 13vh;
}

.main-header__quote {
    
    position: relative;
    top: 10vh;
    left: 100px;
}

.about-header {

    height: 80vh;
    background-image: url('../img/about-header.jpg');
    background-size: cover;
    background-position: top;

    h1 {

        font-size: 4rem;
    }
}

/* About Section */

.about-section {

    background-color: $c-primary;
    z-index: 999 !important;
}

.about-section {

    overflow-x: hidden;

    .about-section__content {

        padding: 10%;
        margin: 20px auto;
    }
}

.about-section__img {

    background-image: url('../img/about-placeholder.jpg');
    background-size: cover;
    min-height: 60vh;
    background-repeat:  no-repeat;
    background-position: center center;
}

.bg-lightgreen {

    background-color: $c-lightgreen;
}

.about-section__col {

    display: flex;

    .about-section__img {

        order: 0;
    }
}

/* Features Section */
.features-section {

    background-color: $c-lightgreen;

    .card {

        color: $c-primary;
        background-color: $c-secondary;
        transition: all 0.3s ease-in-out;
        margin: 10px;

        &:hover {

            box-shadow: inset 0 0 10px #000000;
            transition: all 0.3s ease-in-out;
        }
    }

}

.cards {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Testimonials */

.bg-carousel {

    height: 80vh;
    object-fit: cover;
    filter: blur(3px) brightness(0.4);
}

.carousel-caption {

    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.headshot {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
}

/* Pricing */
.pricing {

    .btn {

        background-color: $c-lightgreen;
        color: black;
        padding: 10px;
    }

    .disabled {

        color: rgba(0, 0, 0, 0.521);
    }

    .cards {

        row-gap: 10px;
    }
}

/* FAQ */
.accordion-button {

    background-color: $c-secondary;
}

.accordion-body {

    background-color: $c-lightgreen;
}

/* Footer */
footer {

    background-color: $c-secondary;

    ul {

        list-style-type: none;

        li {

            margin-top: 5px;
        }
    }
}

.footer-list {

    padding-left: 0 !important;
}

.copyright-footer {

    background-color: darken($c-secondary, 15%);
}

/* Contact Page */

.contact-section {

    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: top;
    padding-bottom: 80px;

    h1 {

        padding-top: 150px;
        margin-bottom: 60px;
    }
}

.contact-form {

    background-color: #4e944fad;
    padding: 10px;

    .form-control {

        background-color: $c-primary;
        border-radius: 0;
        height: 80px;
    }
}

.contact-info {

    background-color: #4e944fad;
    padding: 20px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    
    .phone-bird {

        transform: unset;
        height: 400px;

    }

    .phone-bird-container {

        position: unset;
        top: unset;
        text-align: center;
    }

    .main-header__quote {
    
        position: unset;
        margin: 15px auto;
        text-align: center;
    }

    .main-header__content {

        margin-top: 50px;
    }

    footer {
    
    
        text-align: center;
        margin: auto;
        padding: 0;

        h4, ul {

            padding-right: 40px;
        }
}

.about-section__col {

    display: flex;

    .about-section__img {

        order: 2;
    }
}
    
}

/* Animations */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}