/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

p, li, a {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E9EFC0;
  overflow-x: hidden;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

/* Navbar */
.navbar {
  background-color: #4E944F;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

/* Header */
.main-header {
  background-color: #B4E197;
  height: 100vh;
  z-index: -2;
}

.main-header__content {
  margin-top: 200px;
}

.main-header__content p {
  max-width: 500px;
}

.phone-bird {
  -webkit-transform: rotate(15.79deg);
          transform: rotate(15.79deg);
}

.phone-bird-container {
  position: relative;
  top: 13vh;
}

.main-header__quote {
  position: relative;
  top: 10vh;
  left: 100px;
}

.about-header {
  height: 80vh;
  background-image: url("../img/about-header.jpg");
  background-size: cover;
  background-position: top;
}

.about-header h1 {
  font-size: 4rem;
}

/* About Section */
.about-section {
  background-color: #E9EFC0;
  z-index: 999 !important;
}

.about-section {
  overflow-x: hidden;
}

.about-section .about-section__content {
  padding: 10%;
  margin: 20px auto;
}

.about-section__img {
  background-image: url("../img/about-placeholder.jpg");
  background-size: cover;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-lightgreen {
  background-color: #B4E197;
}

.about-section__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section__col .about-section__img {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

/* Features Section */
.features-section {
  background-color: #B4E197;
}

.features-section .card {
  color: #E9EFC0;
  background-color: #4E944F;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.features-section .card:hover {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Testimonials */
.bg-carousel {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(3px) brightness(0.4);
          filter: blur(3px) brightness(0.4);
}

.carousel-caption {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}

/* Pricing */
.pricing .btn {
  background-color: #B4E197;
  color: black;
  padding: 10px;
}

.pricing .disabled {
  color: rgba(0, 0, 0, 0.521);
}

.pricing .cards {
  row-gap: 10px;
}

/* FAQ */
.accordion-button {
  background-color: #4E944F;
}

.accordion-body {
  background-color: #B4E197;
}

/* Footer */
footer {
  background-color: #4E944F;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-top: 5px;
}

.footer-list {
  padding-left: 0 !important;
}

.copyright-footer {
  background-color: #346234;
}

/* Contact Page */
.contact-section {
  background-image: url("../img/contact.jpg");
  background-size: cover;
  background-position: top;
  padding-bottom: 80px;
}

.contact-section h1 {
  padding-top: 150px;
  margin-bottom: 60px;
}

.contact-form {
  background-color: #4e944fad;
  padding: 10px;
}

.contact-form .form-control {
  background-color: #E9EFC0;
  border-radius: 0;
  height: 80px;
}

.contact-info {
  background-color: #4e944fad;
  padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .phone-bird {
    -webkit-transform: unset;
            transform: unset;
    height: 400px;
  }
  .phone-bird-container {
    position: unset;
    top: unset;
    text-align: center;
  }
  .main-header__quote {
    position: unset;
    margin: 15px auto;
    text-align: center;
  }
  .main-header__content {
    margin-top: 50px;
  }
  footer {
    text-align: center;
    margin: auto;
    padding: 0;
  }
  footer h4, footer ul {
    padding-right: 40px;
  }
  .about-section__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-section__col .about-section__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */
/*# sourceMappingURL=main.css.map */